In [3]:
import pandas as pd
import streamlit as st

In [2]:
pathB = r"D:\GoogleDrive\Projects\ClassRoomGame\V21-CSE-B.xlsx"
pathC = r"D:\GoogleDrive\Projects\ClassRoomGame\V21-CSE-C.xlsx"
section = st.selectbox(["Class B", "Class C"])
p
df = pd.read_excel(path)
df.head()

      Roll.No                Student Name Gender
0  21A81A0567        ADIMULAM GIRESH RAJU      M
1  21A81A0568  ALLADA LAKSHMI SAROJA DEVI      F
2  21A81A0569           AREPALLI SHAKEENA      F
3  21A81A0570                ARJA LIKITHA      F
4  21A81A0571           ATTILI PRASHANTHI      F